* {
    margin: 0;
    padding: 0;
}

.header__link {
    text-decoration: none;
}

.header__logo {
    margin-top: 45px;
}

.header__link {
    margin-top: 51px;
}

.top_content {
    margin-top: 164px;
    margin-bottom: 314px;
}

.title {
    padding-bottom: 17px;
}

.top__button {
    padding-top: 52px;
}

.footer_logo {
    padding-top: 97px;
    padding-bottom: 96px;
}